<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:tc="http://www.morphbit.com/thymeleaf/component"
        lang="en">

<head>

    <title>component</title></head>
<body>
<div th:fragment="navbar">
<!--    <nav>-->

<!--            <ul>-->
<!--                <li ><a th:href="@{/static}">Home</a></li>-->
<!--                <li><a th:href="@{/starter-household}">Starter</a></li>-->
<!--                <li>Legacy</li>-->
<!--                <li><a th:href="@{/new-sim}">Sim</a></li>-->
<!--                &lt;!&ndash;the li below should be a dropdown of all the independent generators&ndash;&gt;-->
<!--                <li>Independent Generators</li>-->
<!--            </ul>-->

<!--    </nav>-->
    <p>hi</p>
    <tc:content><p>hi</p></tc:content>
</div>

</body>


</html>